include LICENSE
include README.md
include CHANGELOG.md
include requirements/pypi.txt
include src/litprog/static/*.js
include src/litprog/static/*.css
include src/litprog/static/*.html
include src/litprog/static/*.svg
include src/litprog/static/*.png
include src/litprog/static/fonts/iosevka-term-ss05-regular*
include src/litprog/static/fonts/enriqueta-v10-latin-ext_latin*
include src/litprog/static/fonts/bitter-v17-latin-ext_latin*
