@media print {
    @page {
        /* A5 - for booklets */
        padding: 0;
        margin: 10mm;
        size: 148mm 210mm;
    }
    img {
        max-height: 148mm;
        max-width: 210mm;
    }

}
