@media print {
    @page {
        /* 1of2col-Letter - for 2 column paper layout */
        padding: 0;
        margin: 10mm 8mm;
        size: 4.25in 11in;
    }
    body {
        /* 1of2col - for 2 column paper layout */
        font-size: 8.5pt;
        line-height: 1.40em;
    }

    div.codehilite pre {
        font-size: 7.4pt;
        letter-spacing: -0.06em;
    }
}