@media print {
    body {
        /* A6 - for kindle */
        font-size: 8.5pt;
        line-height: 1.40em;
    }

    div.codehilite pre {
        font-size: 7.5pt;
        letter-spacing: -0.06em;
    }

    @page {
        /* A6 - margins optimized for kindle */
        padding: 0;
        margin: 14mm 7.5mm;
        size: 105mm 148mm;
    }

}
